extends layout

block content
	.owl-carousel
		.item.text-slide
			h6 Hi
			h5 I'm Tro
			p Description: A twitter friendly headline
		.item.text-slide
			h6 Story
			h5 I'm metioning stories here
			p Origin Story
			p Prototyping Story
		.item.text-slide
			h6 Analogy
			h5 mention a relatable analogy
			p Something like ( we're a wireless audio company )
			p Using Metaphor Helps
		.item.text-slide
			h6 Product
			h5 What is the product ?
			p Describe the product in 140 characters.
			p 3 Reinforcement points
		.item.text-slide
			h6 Market
			h5 What is the target market ?
			p Whom are we targeting.
		.item.text-slide
			h6 Making Money
			h5 How will we make money ?
			p We'll make money via 3rd party integration. API Renting.
		.item.text-slide
			h6 Company
			h5 Who is behind the company ?
			p Mention the founder and staff of the company
		.item.text-slide
			h6 Competitors
			h5 Who are the competitors ?
			p List of competitors and their vision. How is ours different.
		.item.text-slide
			h6 Competitive Advantage
			h5 What is the competitive advantage we have ?
			p Explain the competitive advantage we have over our competitors